In [1]:
import pandas as pd

In [7]:
dados = pd.read_csv('./aluguel.csv', sep=';')

In [12]:
residencial_tipo = ['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila', 'Chácara',]
residencial_tipo

['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila',
 'Chácara']

In [14]:
dados_residenciais = dados[dados.Tipo.isin(residencial_tipo)]
dados_residenciais

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [22]:
dados_apartamento = dados.Tipo == 'Apartamento'
dados[dados_apartamento].Tipo.count()

19532

In [28]:
dados_casa_condominio_ou_vila = dados.Tipo.isin(['Casa de Condomínio','Casa de Vila'])
dados[dados_casa_condominio_ou_vila]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
18,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
22,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
59,Casa de Condomínio,Barra da Tijuca,5,10,5,1600,25000.0,1600.0,NaN
...,...,...,...,...,...,...,...,...,...
32869,Casa de Condomínio,Barra da Tijuca,4,3,4,460,12000.0,1000.0,1200.0
32898,Casa de Condomínio,Barra da Tijuca,5,2,5,554,20000.0,1892.0,1743.0
32908,Casa de Condomínio,Freguesia (Jacarepaguá),3,3,1,155,2000.0,530.0,1250.0
32924,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,NaN
32952,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0

In [31]:
dados_60_100_m2 = dados.Area.between(60, 100)
dados[dados_60_100_m2]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
...,...,...,...,...,...,...,...,...,...
32944,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
32947,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [37]:
dados_4_quartos_aluguel_menor_2000 = (dados.Quartos >= 4) & (dados.Valor < 2000)
dados[dados_4_quartos_aluguel_menor_2000]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
701,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,830.0,NaN
1465,Apartamento,Taquara,4,1,1,110,1900.0,NaN,NaN
2874,Casa,Campo Grande,4,1,4,100,1600.0,NaN,NaN
3075,Casa,Engenho de Dentro,4,3,0,120,1500.0,NaN,NaN
3218,Apartamento,Recreio dos Bandeirantes,4,2,2,125,1700.0,NaN,90.0
3419,Casa de Vila,Méier,4,0,1,85,1600.0,NaN,NaN
4721,Pousada/Chalé,Barra da Tijuca,23,0,23,862,1480.0,295.0,NaN
5849,Casa,Campo Grande,4,1,0,140,1700.0,NaN,NaN
5852,Apartamento,Campo Grande,4,2,1,115,1900.0,500.0,NaN
6456,Apartamento,Recreio dos Bandeirantes,4,2,1,105,1900.0,1492.0,205.0
7520,Apartamento,Cidade Nova,4,0,0,110,1300.0,NaN,NaN
9716,Apartamento,Pechincha,4,1,2,178,1900.0,1100.0,270.0
10132,Casa,Riachuelo,4,0,1,100,1800.0,NaN,40.0
10144,Casa,Méier,4,1,1,125,1900.0,NaN,NaN
11323,Apartamento,Recreio dos Bandeirantes,4,2,3,280,1800.0,1400.0,580.0
11367,Apartamento,Recreio dos Bandeirantes,4,3,2,250,1500.0,1380.0,700.0
11675,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1093.0,183.0
14890,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,1038.0,158.0
16078,Casa de Condomínio,Taquara,4,1,0,110,1750.0,550.0,993.0
16638,Casa,Santo Cristo,5,0,0,85,1200.0,NaN,NaN
17637,Apartamento,Leme,4,0,1,185,1800.0,2000.0,270.0
18453,Apartamento,Recreio dos Bandeirantes,4,2,1,160,1900.0,930.0,150.0
19553,Apartamento,Camorim,4,1,1,96,1350.0,747.0,NaN
20077,Apartamento,Barra da Tijuca,4,3,4,148,1600.0,1766.0,NaN
20633,Casa,Praça Seca,4,1,1,128,1600.0,NaN,228.0
21973,Casa de Condomínio,Freguesia (Jacarepaguá),4,2,1,120,1800.0,195.0,30.0
22000,Casa,Pedra de Guaratiba,4,1,0,100,1300.0,NaN,NaN
23284,Apartamento,Campo Grande,4,2,2,160,1900.0,880.0,NaN
23453,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,912.0,160.0
23608,Apartamento,Rio Comprido,4,1,0,110,1650.0,500.0,NaN
24572,Casa,Campo Grande,4,3,0,120,1700.0,NaN,NaN
25385,Box/Garagem,Centro,5,5,0,30,490.0,220.0,NaN
25993,Apartamento,Taquara,4,3,1,190,1200.0,NaN,NaN
26178,Casa,Campo Grande,4,0,1,366,1890.0,NaN,208.0
26549,Casa,Campo Grande,4,0,0,159,1800.0,NaN,NaN
26750,Casa,Braz de Pina,4,1,0,99,1800.0,NaN,NaN
27033,Casa,Campo Grande,4,1,3,100,1600.0,NaN,NaN
28421,Casa,Campo Grande,4,1,2,180,1850.0,300.0,NaN
29517,Apartamento,Campo Grande,4,1,1,80,1600.0,950.0,NaN
30670,Apartamento,Barra da Tijuca,4,3,4,148,1500.0,1600.0,196.0
31382,Apartamento,Vargem Grande,4,0,1,180,1900.0,NaN,176.0
31840,Apartamento,Recreio dos Bandeirantes,4,2,2,160,1900.0,1038.0,NaN
32064,Casa,Campo Grande,4,2,0,120,1600.0,NaN,NaN